/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */
html {
  margin: 0;
  padding: 0;
  border: 0; }

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

/* Remember to define your own focus styles! */
:focus {
  outline: 0; }

/* --------------------------------------------------------------

   * Sets up some sensible default typography.

-------------------------------------------------------------- */ 
/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 100.01%; }

body {
  font-size: 75%;
  color: #333;
}
 

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #111; }

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 1.6em;
  line-height: 1;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.4em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0; }

/* Text elements
-------------------------------------------------------------- */
p {
  margin: 0 0 1.5em; }

/* 
	These can be used to pull an image at the start of a paragraph, so 
	that the text flows around it (usage: <p><img class="left">Text</p>) 
 */
.left {
  float: left !important; }

p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

.right {
  float: right !important; }

p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0; }

a:focus,
a:hover {
  color: #2f63a8;
  text-decoration: underline; }

a {
  color: #183152;
  text-decoration: none; 
  }

p a {
	 font-weight: bold;
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong, dfn {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

sup, sub {
  line-height: 0; }

abbr,
acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* Lists
-------------------------------------------------------------- */
li ul,
li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

/* Tables
-------------------------------------------------------------- */
/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */
table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
tbody tr:nth-child(even) td,
tbody tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

/* Misc classes
-------------------------------------------------------------- */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

.hide {
  display: none; }

.quiet {
  color: #666; }

.loud {
  color: #000; }

.highlight {
  background: #ff0; }

.added {
  background: #060;
  color: #fff; }

.removed {
  background: #900;
  color: #fff; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.shadow {
  -moz-box-shadow: 0 3px 5px #222;
  -webkit-box-shadow: 0 3px 5px #222;
  box-shadow: 0 3px 5px #222; }

.boldlink {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.0em;
  color: #375d81; }

.container {
  margin: auto;
  width: 960px; 
   font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
   
  
.container-feature {
  margin: auto;
  width: 990px; }

.clearfix {
  clear: both; }

#header {
  background-color: #000;
  border-top: 5px solid #ffce39; }
  #header h1 {
    float: left;
    margin: 10px 0;
    padding: 0;
    line-height: 1.2em;
    font-size: 1.0em;
    font-weight: bold;
    color: #ffce39; }
    #header h1 a {
      color: #ffce39; }
    #header h1 span {
      color: #fff;
      margin-left: 10px; }
      #header h1 span a {
        color: #fff; }
  #header ul {
    margin: 10px 0;
    padding: 0;
    float: right; }
    #header ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;
      border-right: 1px solid #666;
      padding-left: 5px;
      padding-right: 5px; }
      #header ul li a {
        font-size: 0.9em;
        line-height: 1.2em;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        color: #999; }
      #header ul li a:hover {
        color: #fff; }
    #header ul li#univ-nav-all {
      border-right: none;
      padding-right: 0; }
      #header ul li#univ-nav-all a {
        text-transform: none; }
.logo{
	float: left;
	margin-top: 30px;
	margin-left: 20px;

}
#navigation {
  height: 95px;
  /*background: url("../images/logo.png");*/
  background-repeat: no-repeat;
  background-position: 20px 30px;
  overflow: hidden; }
  #navigation ul {
    height: 14px;
    position: relative;
    margin: 71px 0 0 475px;
    padding: 0; }
    #navigation ul li {
      list-style: none;
      position: absolute;
      top: 0;
      margin: 0;
      padding: 0; }
    #navigation ul li, #navigation ul a {
      display: block;
      height: 14px; }
    #navigation ul a {
      position: absolute;
      display: block;
      background: url("../images/nav-sprite2.png") no-repeat top right;
      height: 0;
      padding-top: 14px;
      overflow: hidden; }
      
      
    /* nav without staff page */
    
    #navigation ul li#nav-home a {
      left: -15px;
      width: 68px;
      background-position: -490px 0px; }
    
    #navigation ul li#nav-student-success a {
      left: 47px;
      width: 109px;
      background-position: 0px 0px; }
    #navigation ul li#nav-campus-life a {
      left: 156px;
      width: 93px;
      background-position: -109px 0px; }
    #navigation ul li#nav-health-and-safety a {
      left: 248px;
      width: 124px;
      background-position: -202px 0px; }
    #navigation ul li#nav-parents a {
      left: 372px;
      width: 64px;
      background-position: -326px 0px; }
      
      
   /* #navigation ul li#nav-staff a {
      left: 390px;
      width: 47px;
      background-position: -390px 0px; }*/
      
      
      
    #navigation ul li#nav-about a {
      left: 437px;
      width: 48px;
      background-position: -437px 0px; }
      
    #navigation ul li#nav-home a:hover {
      background-position: -490px -14px; }
    
    #navigation ul li#nav-student-success a:hover {
      background-position: 0px -14px; }
    #navigation ul li#nav-campus-life a:hover {
      background-position: -109px -14px; }
    #navigation ul li#nav-health-and-safety a:hover {
      background-position: -202px -14px; }
    #navigation ul li#nav-parents a:hover {
      background-position: -326px -14px; }
    #navigation ul li#nav-staff a:hover {
      background-position: -390px -14px; }
    #navigation ul li#nav-about a:hover {
      background-position: -437px -14px; }
      
      
    /* navigation with staff page implemented */  
     /* 
    #navigation ul li#nav-student-success a {
      left: 0px;
      width: 109px;
      background-position: 0px 0px; }
    #navigation ul li#nav-campus-life a {
      left: 109px;
      width: 93px;
      background-position: -109px 0px; }
    #navigation ul li#nav-health-and-safety a {
      left: 202px;
      width: 124px;
      background-position: -202px 0px; }
    #navigation ul li#nav-parents a {
      left: 326px;
      width: 64px;
      background-position: -326px 0px; }
      
      
    #navigation ul li#nav-staff a {
      left: 390px;
      width: 47px;
      background-position: -390px 0px; }
      
      
      
    #navigation ul li#nav-about a {
      left: 437px;
      width: 48px;
      background-position: -437px 0px; }
      
      
      
    #navigation ul li#nav-student-success a:hover {
      background-position: 0px -14px; }
    #navigation ul li#nav-campus-life a:hover {
      background-position: -109px -14px; }
    #navigation ul li#nav-health-and-safety a:hover {
      background-position: -202px -14px; }
    #navigation ul li#nav-parents a:hover {
      background-position: -326px -14px; }
    #navigation ul li#nav-staff a:hover {
      background-position: -390px -14px; }
    #navigation ul li#nav-about a:hover {
      background-position: -437px -14px; }*/

#feature {
  height: 365px;
  overflow: hidden; }

#feature-tabs {
  width: 496px;
  height: 365px;
  float: left;
  background-image: url("../images/feature-slide1.png");
  background-repeat: no-repeat;
  background-position: top left; }
  #feature-tabs ul#feature-tabs-list {
    margin: 18px 0 0 20px;
    padding: 0; }
    #feature-tabs ul#feature-tabs-list li {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 29px;
      float: left; }
      #feature-tabs ul#feature-tabs-list li a {
        display: block;
        height: 0;
        width: 105px;
        padding-top: 29px;
        overflow: hidden; }
  #feature-tabs .feature-content {
    margin-left: 35px;
    padding-top: 30px;
    width: 445px;
    height: 265px;
    overflow: hidden;
    font-family: Georgia, serif;
    color: #666;
    font-size: 1.2em;
    line-height: 1.2em; }
    #feature-tabs .feature-content h1 {
      font-family: 'Yanone Kaffeesatz', Arial, sans serif;
      font-size: 2em;
      margin-bottom: 0.5em;
	  line-height: 0.5em;
	  }
    #feature-tabs .feature-content p {
      margin: 0.7em 0; }

#feature-image {
  width: 494px;
  height: 365px;
  float: left;
  background-image: url("../images/feature-photo_back.png");
  background-repeat: no-repeat;
  background-position: top left; }
  #feature-image img {
    margin: 28px 0 0 10px; }

#news-footer {
  padding-top: 1.2em; }
  #news-footer ul {
    margin: 0;
    padding: 0; }
    #news-footer ul li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline; }
    #news-footer ul li#news-footer-browse {
      padding-right: 10px;
      border-right: 1px solid #999; }
    #news-footer ul li#news-footer-vp_blog {
      padding-left: 7px; }

.sidebar {
  float: right;
  width: 300px;
  margin-top: 20px; }

.side-box {
  margin-bottom: 20px;
  color: #fff; }
  .side-box h3 {
    font-family: 'Yanone Kaffeesatz', Arial, sans serif;
    font-size: 2em;
    margin: 0 0 0.4em 0;
    padding: 0;
    color: #fff; }

/* Sidebox feature											*/
/* ======================================================== */
.side-feature {
  background-color: #ffffcc;
  width: 300px;
  margin-left: -15px;
  padding: 15px;
  margin-bottom: 20px; }

/* Newsletter signup 										*/
/* ======================================================== */
#newsletter-signup #newsletter-field {
  width: 222px;
  /* 234 width minus 12px padding */
  float: left;
  margin-right: 5px; }

/* Twitter List		 										*/
/* ======================================================== */
#twitter {
  border-bottom: 1px solid #777; }

.twitter-post {
  border-top: 1px solid #777;
  padding-top: 0.6em; }
  .twitter-post .avatar {
    width: 48px;
    float: left; }
  .twitter-post .tweet {
    margin-left: 58px; }
    .twitter-post .tweet p {
      margin-bottom: 0.6em; }
    .twitter-post .tweet p.account {
      margin: 0;
      padding: 0;
      color: #999; }
  .twitter-post a {
    color: #ffce39; }

.content {
  padding: 20px;
  margin: 20px 0;
  background-image: url("../images/background-news.png"); }

.content.twothirds {
  float: left;
  width: 590px; }

.content-header {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  
  
   }
   
  .content-header img {
  	float: right;
  
  }

.content h1 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif; }

.content h2 {
  color: #183152; }

/* ======================================================== */
.section-container {
  clear: both; }

.section {
  width: 445px;
  float: left;
  margin: 0 30px 20px 0; }

.section-content {
  padding: 10px 10px 0 10px; }

.last {
  margin-right: 0; }

#footer {
  clear: both;
  border-top: 5px solid #ffce39;
  background-color: #000; 
  text-align: left;
  height: 270px;
  }

#footer-header {
  padding: 15px 0; }
  #footer-header p {
    float: left; }
  #footer-header #footer-search {
    float: right;
    width: 288px;
    background-color: #fff;
    padding: 7px 5px; }
    #footer-header #footer-search input#search {
      border: 0;
      padding: 0;
      margin: 0;
      float: left;
      width: 268px; }
    #footer-header #footer-search input#search-submit {
      float: left; }

#footer-nav {
  width: 630px;
  float: left; }
  #footer-nav ul {
    margin: 0 0 20px 0;
    padding: 0;
    float: left;
    width: 200px; }
    #footer-nav ul li {
      margin: 0 0.2em;
      padding: 0;
      list-style: none; }
      #footer-nav ul li a {
        color: #999; }
    #footer-nav ul li.footer-nav-header a {
      color: #ffce39;
      font-weight: bold; }

#footer-contact {
  margin-left: 660px;
  color: #fff; }
  #footer-contact a {
    color: #fff; }
  #footer-contact .org {
    color: #ffce39;
    font-weight: bold; }
  #footer-contact #footer-address {
    margin-bottom: 40px; }
  #footer-contact #copyright, #footer-contact #copyright a {
    color: #999;
    font-size: 0.9em; }

.post {
  padding-top: 1.4em;
  border-bottom: 1px solid #fff; }
  .post .post-header {
    margin-bottom: 0.2em; }
    .post .post-header a:hover {
      text-decoration: none; }
  .post p.post-details {
    color: #777;
    font-size: 0.9em; }
  .post div.post-content {
    font-family: Georgia, sans-serif;
    font-size: 1.2em; }

input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 7px 5px;
  font-size: 1.0em; }

input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color: #999; }

select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin: 0; }

/* Buttons												 	*/
/* ======================================================== */
.button, .button:visited, #Form_Form submit, #Form_AskForm_action_doAsk {
  border: none;
  background: #02679a url(../images/overlay.png) repeat-x;
  display: inline-block;
  margin: 0;
  padding: 5px 10px 6px;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }
  
.button a:hover {
	color: white;

}
  
#Form_AskForm_action_doAsk {
	margin: 10px 0;

}
#ask-button.button {
	background-color: #4c8001;
	font-size: 22px;

}

#ask-button a {
	color: white;
}

.button.view-answers {
	margin: 0 5px;

}


#ask-success {
	border: 1px solid red;
	padding: 10px;
	background: #ffc;
	margin: 5px 0;

}

#ask-success p {
	margin: 0;
	font-size: 28px;
	line-height: 30px;

}

.message {
	color: red;
	font-weight: bold;

}
  
/* User forms   										 	*/
/* ======================================================== */  

#Form_Form input, #Form_Form textarea{
  width: 288px;
  margin-bottom: 10px; 

}

#Form_Form label {
	display: block;

}

label.left {
	float: none !important;

}

/* Sidebar forms										 	*/
/* =======================================================f= */
.sidebar input[type=text], .sidebar input[type=password],
.sidebar input.text, .sidebar input.title,
.sidebar textarea {
  width: 288px;
  margin-bottom: 10px; }
.sidebar textarea {
  height: 120px; }

.photo {
  border: 10px solid #fff;
  -moz-box-shadow: 0 2px 4px #666;
  -webkit-box-shadow: 0 2px 4px #666;
  box-shadow: 0 2px 4px #666;
  margin-bottom: 10px;
  
   }

img.left {
  margin: 0 20px 20px 0; }

img.right {
  margin: 0 0 20px 20px; }

#at-a-glance {
  /*-moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -o-transform: rotate(1deg);*/ }
  #at-a-glance h1, #at-a-glance h2, #at-a-glance h3, #at-a-glance h4, #at-a-glance p, #at-a-glance ul {
   /* -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);*/ }
  #at-a-glance h2 {
    font-family: 'Yanone Kaffeesatz', Arial, sans serif;
    margin-bottom: 20px;
    font-size: 2.4em; }
  #at-a-glance h4 {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: bold; }
  #at-a-glance ul {
    margin-top: 0; }
  #at-a-glance #employees {
    background-image: url("../images/ataglance-employees.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 90px; }
  #at-a-glance #facilities {
    background-image: url("../images/ataglance-facilities.png");
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 80px;
    padding-left: 10px; }
  #at-a-glance #budget {
    background-image: url("../images/ataglance-budget.png");
    background-repeat: no-repeat;
    background-position: 40px 0;
    padding-left: 100px;
    height: 80px; }
    
#parents-ad {
	margin-left:-15px;
	
	}

.intro {
  width: 395px;
  height: 220px;
  margin-bottom: -20px;
  padding: 50px 595px 0px 30px;
  overflow: hidden; }
  .intro h1 {
    font-family: 'Yanone Kaffeesatz', Arial, sans serif;
    font-size: 3.8em;
    margin-bottom: 10px; }

#campus_life_intro {
  background-image: url("../images/section-campuslife.jpg");
  background-repeat: no-repeat; }
  
#sidenav h2 {
	color: white;
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 36px;
}

#sidenav h2 a{
	color: white;

}

#sidenav ul {
	list-style-position: inside;
	list-style-type: none;
	padding: 0;


}

#sidenav li {
	border-top: dotted 1px #ccc;

}

#sidenav li a{
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	text-decoration: none;
}

#sidenav ul li ul {
	padding: 0;
	list-style-image: url(../images/arrow.png);
	text-align: left;
}

.current {
	/* Opera */
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDUxLDE1MiwyNTMsMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSg0LDEwNCwxNTYsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
	/* Firefox */
	background: -moz-linear-gradient( top, rgba(51,152,253,1), rgba(4,104,156,1) );
	/* Chrome & Safari */
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(51,152,253,1) ), color-stop( 1, rgba(4,104,156,1) ) );
	/* IE5.5 - IE7 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF3398FD,EndColorStr=#FF04689C);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF3398FD,EndColorStr=#FF04689C)";
	color: white; 
	font-weight: bold;
}

#sidenav ul li ul li a{
	padding-left: 30px;
}

#sidenav li a{
	color: #ccc;
	font-size: 16px;
}

#sidenav li .current{
	color: white;

}

.current {
	list-style-image: url(../images/arrow_current.png);
	
}

.post-read-more {
	float: right;

}

.clear-right {
	clear: right;
}

.tweet li {
	list-style-type: none;

}

.twitter-post.rocklin a {

	color: #066a9f;

}

#SearchResults li {
	padding: 10px;

}

.tweet.rocklin {
	margin-left: 0;

}

/*#twitter_update_list6 li{
	margin: 20px 0;
	list-style-type: square;

}*/

.rocklin-posts li a{
	font-size: 17px;
	

}

#at-a-glance ul.rocklin-posts{
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;


}

#at-a-glance ul.rocklin-posts li p{
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;


}

.rocklin-posts{
	list-style-type: square;
}

.spotlight-preview{
	margin-left: 15px;
	float: left;
}

.spotlight-photo {
	float: left;
	margin-right: 10px;

}

/* Directory Page */

#department-container {


}

.department h3 {
	margin: 6px 0;

}

.department {
	width: 430px;
	float: left;

	/*padding: 15px;*/
	border: 1px solid #9e9e9e;
	/*
	border-bottom: 1px #9e9e9e dashed;
	border-top: none;*/
	margin-top: 25px;
	margin-right: 25px;
	  -moz-box-shadow: 0 1px 4px #666;
  -webkit-box-shadow: 0 1px 4px #666;
  box-shadow: 0 1px 4px #666;
  background-image: url(../images/linedpaper_background.png);
}

.department.first {
	/*border-top: 1px #9e9e9e solid;*/

}

.department.last {

	border-bottom: 1px #9e9e9e solid;
}

.department a {
	color: #066a9f;
}

.department h2 a:hover {
	text-decoration: none;
	color: #ffff7e;

}

.department h2 a{
	/*color: #ffff78;*/
	color: white;
}

.department h2 {
	display: block;
	padding: 15px;
	/*border: 1px solid #9E9E9E;*/
	/* Opera */
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDUxLDE1MiwyNTMsMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSg0LDEwNCwxNTYsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
	/* Firefox */
	background: -moz-linear-gradient( top, rgba(51,152,253,1), rgba(4,104,156,1) );
	/* Chrome & Safari */
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(51,152,253,1) ), color-stop( 1, rgba(4,104,156,1) ) );
	/* IE5.5 - IE7 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF3398FD,EndColorStr=#FF04689C);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF3398FD,EndColorStr=#FF04689C)";
	color: white; 


}




.department h2 a span.external_link {
	background: url(../images/department_external_link.png);
	   background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

.department-content{
	padding: 15px 15px;


}

/*.department h2 a {
	color: #2b87e0;

}*/

.external_link {

    background: url(../images/external_link.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;


}



.department.odd {
	background-color: #ffffdb;


}

.department.even {
		background-color: #FFC;

}

.department p {
	margin: 5px 0;

}

.department li a {
	text-decoration: underline;

}


.department h2 {
	margin-bottom: 0;
}

.department ul {
	padding: 0;
	list-style-type: square;
	margin: 0;
	margin-left: 25px;

}

/* Parents Page */

.recaptcha-form{
	/*width: 320px;
	margin-left: -25px;*/
	/*background: #daebff; */

	/*padding: 10px;*/


}

#recaptcha_area{
	margin-left: -10px;
}

#recaptcha_widget_div {
	padding: 10px 0;

}

.field {
	padding: 3px 0;
}

#Form_AskForm {
	padding: 10px 0;

}

p.question {
	font-size: 16px;
	/*font-weight: bold;*/


	
}


p.answer a{
	font-size: 13px;
	color: #02679A;
	

}

#latest-answer {
	background: #fef7da;
	padding: 10px;
	border: 1px dashed #ccc;
	margin: 10px 0;

}
.belinda-box {
	margin: 10px 0;

}

#belinda-bio {
	width: 200px;
	float: left;
}

#belinda-headshot {
	float: left;
	margin: 0 10px;
}


#ask-toc ul{

	list-style-type: none;

}

#ask-toc {
	background: white;
	padding: 15px;
	width: 350px;
	float: right;
	margin: 10px;
	border: 1px dashed #ddd;
}


#ask-toc ul li ul {
	list-style-type: square
}

#ask-toc ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;

}

#ask-toc ul li {
	/*margin: 5px 0;*/

}

#ask-toc ul li ul {
	margin: 10px 0;

}
#ask-toc ul li p {
	margin: 0;
	display: inline;

}
#ask-toc ul li a{
	color: #02679A;

}

#ask-toc ul li ul li a {
	color: #02679A;
	/*padding-bottom: 2px;*/
	/*border-bottom: 1px dotted #02679A;*/
	margin: 3px 0;

}

#ask-toc a:hover{
	text-decoration: none;
}

#Form_AskForm_disclaimerLabel a{

	font-weight: bold;
}

#questions ul li {
	border: 1px solid #bdbdbd;

}

#questions, #questions ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#questions {
	margin-top: 25px;
}
#questions ul {
	margin: 10px 0;
	padding: 0;
	

	
}

#questions ul li ul {
	margin: 0;
	padding: 0;

}

#questions h2 {
	font-size: 28px;
	color: #333;
	margin: 20px 0;

}

#questions h3 {
	margin: 5px 0;
	padding: 0;
	padding-bottom: 5px;
	border-bottom: 1px dashed #ddd;
	color: #02679A;

}


#questions li:target {
background: #FFC;
border: 1px solid red;

}

#questions li:target h3{
	font-weight: bolder;

}

#questions li:target div.back-top {
	visibility: visible;

}

#questions p {

margin: 0;
}



#questions li div.back-top {
	visibility: hidden;
}

.back-top {
	display: block;
	margin-top: 5px;
	float: right;
	padding: 5px;

}

.back-top a {
	color: white;
	background: #02679A url(../images/overlay.png) repeat-x;
	padding: 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	display: block;

}

.back-top a:hover {
	text-decoration: none;
	background-color: #025179;

}

#questions ul li{
	padding: 10px;
	margin: 10px 0;
	
	background: white;

}

/* Student Learning Pages */

.student-learning-intro {
	
	background-image: url(http://studentlife.uiowa.edu/assets/Uploads/_resampled/SetWidth570-pentacrest.jpg); 

	height: 200px;
	margin: 10px 0;
	
	

}



#student-learning blockquote {
	font-family: Georgia, serif;
	/*color: #ddd;*/
	font-size: 22px;
	/*background: rgba(0, 0, 0, 0.7);*/
	padding: 25px;


}

#student-learning h2 {
	/*margin: 20px 0;*/
	font-size: 26px;

}


.assessment {
	width: 100%;
	float: left;


	/*padding: 15px;*/
	border: 1px solid #9e9e9e;
	/*
	border-bottom: 1px #9e9e9e dashed;
	border-top: none;*/
	/*margin-top: 25px;*/
	margin-right: 25px;
	  -moz-box-shadow: 0 1px 4px #666;
  -webkit-box-shadow: 0 1px 4px #666;
  box-shadow: 0 1px 4px #666;
  	background-image: url(../images/linedpaper-long.png);
  	min-height: 800px;
  	

}
.assessment p {
	font-family: Georgia, serif;
	font-size: 20px;

}

.assessment ul {
	font-family: Georgia, serif;
	font-size: 20px;

}
.assessment h3 {
	font-family: Georgia, serif;
	font-size: 25px;
	color: #2F63A8;
	padding-bottom: 15px;
	border-bottom: 1px dashed #2F63A8;
}
.assessment h3 a{
	color: #2F63A8;
}

.assessment h3 span{

	font-size: 14px;
	color: #333;

}

#assessment-preview-container {
	margin: 20px 0;

}

#why-assesment-testimonial{
	min-height: 115px;
	padding: 20px;
	background-color: #FFC;


}

#why-assesment-testimonial .read-more {
	float: right;
}


#why-assesment-testimonial img{
	float: left;
	padding: 0 10px;


}

.assessment.preview {
	margin: 10px 0;
	min-height: 200px;

}

.assessment.preview.first {
	margin-top: 0;

}

.assessment.preview p.read-more {
	font-size: 13px;
	float: right;
	color: #2F63A8;
}

.assessment-content {
	background: rgba(255,255,255,0.5);
	padding: 25px;
}

.director-assessment {
	float: left;
	padding: 10px;

}


.assessment-coordinator {
	min-height: 93px;
	padding: 20px;
	background-image: url(../images/coordinator_bg.png);
	margin: 10px 0;
	margin-right: 15px;
	width: 240px;
	float: left;
}

.all-assessments-link {
	float: right;

}



.assessment-coordinator h2 a {
	color: #2F63A8;
	font-face: Georgia, serif;
	font-weight: normal;
	font-face: Georgia, serif;
	font-size: 18px;
	margin: 5px 0;

}
.assessment-coordinator  a {
	color: #505050;
	font-weight: bold;
	

}


.assessment-coordinator h2 {
	margin-top: 0;
	padding-top: 0;
	color: #2F63A8;
}

.assessment-coordinator h3, .assessment-coordinator h3 a {
	color: #275086;

}

#feed-sidebar {
	background: white;
	padding: 10px;
	width: 300px;

}

#feed-sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}
#feed-sidebar li {
	padding: 10px;
	margin: 5px 0;

}
#feed-sidebar li.odd {
	background: #f2f2f2;

}

#feed-sidebar h2 {
	color: #2f63a8;
	background: #244c81;
	background-repeat: none;
	color: white;
	padding: 10px;	
}

#feed-sidebar h2 a{
	color: white;
}

#feed-sidebar h3 {
	margin-bottom: 0;
}

#feed-sidebar a {
	font-weight: bold;
	color: #2f63a8
}


#annual-report.content {
	padding: 0;
	width: 650px;
	float: left;
	background: url(../images/annual_report_background.jpg);
}

#feed-sidebar.annual-report-feed {
	float: left;
	width: 270px;
	margin: 10px;

}
#annual-report-header {
	padding: 10px;
	background: url(../images/annual_report_header_bg.jpg);
	border-bottom: 2px #ccc solid;
}

#annual-report-header h1{
color: white;
margin-bottom: 0;
font-size: 48px;
}


#annual-report-header.cover {
	background: url(../images/annual_report_header_bg.jpg);
	border: none;
}
#annual-report-content {
	padding: 20px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
}

.annual-report-nav {
	float: left;
	margin-top: 20px;
}
.annual-report-nav ul{
	margin: 0;
	padding: 0;
}

.annual-report-nav li {
	list-style-type: none;
	padding: 0;
	background: #b3b2b1;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-box-shadow: inset 2px 0px 3px #333;
	-webkit-box-shadow: inset 2px 0px 3px #333;
	box-shadow: inner 2px 0px 3px #333;
	margin: 10px 0;
	list-style-image: none;
}

.annual-report-nav li.current {
	background: #fffdd3;
	float: none;
	width: auto;
	filter: none;
	-ms-filter: none;
}
.annual-report-nav li.link {
	float: none;
	background: #e6e5e3;
	width: auto;
}
.annual-report-nav a {
	padding: 10px;
	color: #005b82;
	width: 280px;
	display: block;
	font-family: 'Yanone Kaffeesatz', Arial, sans serif;
	font-size: 28px;
	text-align: right;
	font-weight: normal;
}

.annual-report-nav a span {
	padding: 16px;
}
#annual-report-content h1 {
	color: white;
	font-weight: normal;
	font-size: 52px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	margin-bottom: 15px;

}

#annual-report-content a {
	font-weight: bold;
	color: #008ec6;

}


#annual-report-content h2 {
	font-family: 'Yanone Kaffeesatz', Arial, sans serif;
	font-size: 38px;
	font-weight: normal;
	color: #007daf;
}

#annual-report-content h3 {

	font-family: 'Yanone Kaffeesatz', Arial, sans serif;
	font-size: 34px;
	color: #00648b;
	margin: 10px 0;
}

#annual-report-content p, #annual-report-content ul, #annual-report-content ol{
	font-family: 'Lato', sans-serif;

}

#annual-report-content p {
	font-size: 17px;
	color: #3a3c3c;
}

#annual-report-content ul li ul {
	background: none;
	border: none;
	margin-left: 25px;
	list-style-type: square;
}

#annual-report-content ul li ul li {
	color: #00658d;

}

#annual-report-content ul, #annual-report-content ol {
	list-style: square;
	font-size: 17px;
	list-style-position: inside;
	background-color: #FFFDD3; /* c'est pa, IE */
	background-color: rgba(255, 253, 211,0.6);
	padding: 10px;
	line-height: 25px;
	border: 1px solid #ddd;

}

#annual-report-content li {
	font-size: 17px;
	color: #00415b;
	font-weight: 400;
	padding: 5px 0;
}
#annual-report-content .annual-report-toc li {

	color: #008EC6

}

.annual-report-sidebar {
	width: 290px;
	float: right;
	margin-right: 20px;

}

.annual-report-sidebar img {
	margin: 10px;

}

#annual-report-featurebox.side-feature {
	width: 260px;
	float: left;
	margin: 10px;

}

#annual-report-content blockquote p{
	color: #5a5a5a;

}

#annual-report-content blockquote {
	/*font-weight: bold; */
	margin:0;
	padding:0 20px;
	background-image:url('../images/quotemarks.png');
	background-repeat:no-repeat;
}

#annual-report-content blockquote img.portrait {
	float:right;
	margin:0 0 20px 20px;
}
	

#annual-report-content ul, #annual-report-content ol {
/*	margin-left: 25px; */

}

#annual-report-content img.sig {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

}

#annual-report-content img {
  -moz-box-shadow: 0 3px 5px #222;
  -webkit-box-shadow: 0 3px 5px #222;
  box-shadow: 0 3px 5px #222;

}

.annual-report-header-context a{
	font-family: 'Yanone Kaffeesatz', Arial, sans serif;
	font-size: 28px;
	color: #005b7f;
	display: block;
}