/* Base styles
========================================================================== */

/* * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img {vertical-align: middle;height: auto;max-width: 100%;}

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

body {
	background: #fff;
	margin: 0;
	color: #333;
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
	font-family: open-sans, arial, verdana, sans-serif;
}
.medium {font-size: 14px;}
.small {font-size: 12px;}
/* @import Typography.scss */
@import "imports/typography.scss";

/* @import Buttons.scss
@import "imports/buttons.scss"; */

/* @import Tables.scss
@import "imports/tables.scss"; */

/* @import Forms.scss
@import "imports/forms.scss"; */

/* @import Grid.scss */
@import "imports/grid_mobile.scss";


/* Main styles
========================================================================== */
section {
	padding: 4em 0;
	position: relative;;
}

/* Header
========================================================================== */
#header {
	background: #000;
}

/* Navigation 
========================================================================== */
.stickem-container {
	position: relative;
}
.nav-place {height: 69px;}
#serve .nav-place, #choose .nav-place, #engage .nav-place, #excel .nav-place, #stretch .nav-place {height: 96px;}
#nav-wrapper {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#nav {
	
}
#nav ul {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}
#nav li {
	float: left;
	text-align: center;
	width: 156px;
}
#nav li > a {
	color: #999;
	display: block;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 2px;
	text-transform: uppercase;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
#nav li .active {
	color: #fff;
}
#home #nav-home a {color: #fff;}
#excel #nav-excel a {color: #fff;}
#stretch #nav-stretch a {color: #fff;}
#engage #nav-engage a {color: #fff;}
#choose #nav-choose a {color: #fff;}
#serve #nav-serve a {color: #fff;}
#nav a em {
	display: block;
	text-transform: none;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 0;
}

#nav-wrapper.fixed, #nav.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

/* ----- .sub-nav ----- */
.sub-nav-wrapper {
	background: #FFCE39;
	width: 100%;
}
.sub-nav {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	width: 940px;
}
.sub-nav li {
	display: inline;
}
.sub-nav li a {
	color: #333;
	display: inline-block;
	font-size: 11px;
	padding: 5px 10px;
	text-transform: uppercase;
}
.sub-nav li.active a {
	background: #bbb;
	color: #222;
}
.sub-nav li a:hover {
	text-decoration: none;
}


/* diamond */
#readwrite:before, #iowagrow:before, #ucs:before {
	content: url(../images/diamond_light.png);
	position: absolute;
	top: 0;
	left: 50%;
	width: 44px;
	height: 21px;
	margin: -11px 0 0 -22px;
	z-index: 100;
}


/* headings */
.header {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	margin: 0 0 1em;
	padding: 1em 0;
}
section header .title {
	font-family: alfa-slab-one, arial, verdana, sans-serif;
	font-size: 30px;
	margin: 0 0 .2em;
	-webkit-transition:font-size ease .2s;

	@media (min-width: 480px) {
    	font-size: 50px;
  	}
  	@media (min-width: 768px) {
    	font-size: 55px;
  	}
}
section header .sub-head {
	font-size: 20px;
	margin-top: 0;
}
/* meta */
.meta {
	font-size: 12px;
}
.meta ul {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
}
.meta li {
	border-top: 1px dotted #ccc;
	margin-top: .5em;
	padding-top: .5em;
}
.meta li:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}
.meta em {
	font-size: 10px;
}
.meta em span {
	font-size: 12px;
	font-style: normal;
	text-transform: uppercase;
}
/* images */
.row-fluid .img-callout {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: .8em 0;
	margin: 1.2em 0;
}
/* videos */
.video-block {
	padding: 8em 0;
}
.video-container {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.video-block .video-container {
	background: #fff;
	background: rgba(255,255,255,.9);
	padding: 9px;
}
.video-block .video-container h1 {
	font-size: 20px;
	margin: 9px 0 0 0;
}
.video-block .video-container p {
	font-size: 13px;
	margin: 5px 0;
}
/* quote block */
/* quote block */
.quote-block blockquote {
	background: #333;
	background: rgba(0,0,0,.8);
	margin: 3em 0;
	padding: 1em;
	color: #fff;
	font-size: 26px;
	font-family: georgia, 'times new roman', serif;
}
.quote-block blockquote small {
	color: #ddd;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}
.dropcap {
	width: 88px;
	text-align: center;
	color: #333;
	font-size: 75px;
	line-height: 65px;
	margin-right: 15px;
	top: 6px;
	float: left;
	display: block;
	position: relative;
	font-family: alfa-slab-one, arial, verdana, sans-serif;
	xfont-style: italic;
}

/* hero story */
.hero-story .hero-img {
	background-position: center top;
	background-repeat: no-repeat;
	height: 293px;
	@media (min-width: 480px) {
    	height: 469px;
  	}
	@media (min-width: 768px) {
    	height: 670px;
  	}
}
 .hero-story .title {
 	margin: .25em 0 .25em;
 }
.hero-story .content {
	background: #fff;
	padding: 1em 2.5em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	border-top: 5px solid #FFCE39;
	@media (min-width: 768px) {
    	margin-top: -200px;
  	}
}
.hero-story .meta {
	margin-top: 1em;
}
.hero-story .content .meta {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: .5em 0;
	margin: 2em 0 1em;
}
.hero-story .content .meta ul {overflow: hidden; margin: 0;}
.hero-story .content .meta li {
	border: none;
	float: left;
	margin: 0 1em 0 0;
	padding: 0;
}

/* ---------- EXCEL --------- */
#cassidy-bell {
	background: url(../images/bg-social-feed-fade.png) repeat-x center top;
}
/* change teams */
#cassidy-bell {
	background: #eee url(../images/bg-wave.png);
	border-top: 1px solid #ccc;
}
#cassidy-bell .hero-img {
	background-image: url(../images/cassidy_sm.jpg);

	@media (min-width: 480px) {
    	background-image: url(../images/cassidy_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/cassidy_lg.jpg);
  	}
}
/* iowa grow */
#iowagrow {
	border-top: 1px solid #ccc;
	background: url(../images/bg-dark.jpg);
	color: #eee;
}
#iowagrow .dropcap {color: #eee;}
/* read and write gold */
#readwrite h1 {font-size: 48px;}

/* ucs */
#ucs {background: url(../images/billie_holiday.png);}
#ucs h1 {font-size: 50px;}



/* ---------- STRETCH ---------- */
/* cultural centers */
#cultural-centers {
	background: url(../images/bg-social-feed-fade.png) repeat-x center top;
}
/* change teams */
#change-teams {
	background: #eee url(../images/bg-wave.png);
}
#change-teams .hero-img {
	background-image: url(../images/changeteams_sm.jpg);

	@media (min-width: 480px) {
    	background-image: url(../images/changeteams_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/changeteams_lg.jpg);
  	}
}
/* walkitout */
#walkitout-quote {
	background: url(../images/walk_it_out_2.jpg) no-repeat center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	box-shadow: inset 0 0 20px rgba(0,0,0,.4);
}
#walkitout {
	background: url(../images/bg-dark.jpg);
	color: #DDD;
	padding-top: 0;
}
#walkitout header {border-top: none;}
#walkitout header h1 {
	color: #FC89AD;
	font-size: 65px;
}

/* Footer
========================================================================== */
#footer {
	clear: both;
	border-top: 5px solid #ffce39;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000; 
	text-align: left;
	font-size: 12px;
	padding: 0 1em;
 }
#footer .wrapper {
	@media (min-width: 1000px) {
    	margin: 0 auto;
    	width: 1000px;
  	}
}
#footer-header {
	padding: 1em 0;
}
#footer-header p {
    @media (min-width: 520px) {
    	float: left;
  	}
}
#footer-nav {

}



/* ----- search ----- */
#footer-header #footer-search {
	background-color: #fff;
	overflow: hidden;
	padding: 7px 5px;
	position: relative;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	@media (min-width: 520px) {
    	float: right;
    	width: 288px;
  	}
}
#footer-header #footer-search input#search {
	border: 0;
	padding: 3px;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}
#footer-header #footer-search input#search-submit {
	position: absolute;
	top: 9px;
	right: 5px;
}

/* ----- Nav lists ----- */
#footer-nav ul {
	clear: both;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 0;
}
#footer-nav ul li {
	margin: 0 0.2em 0 .5em;
	padding: 0;
	list-style: none;
}
#footer-nav ul li a {
	color: #999;
}
#footer-nav ul .footer-nav-header a {
	color: #ffce39;
	font-weight: bold;
}

/* ----- contact info ----- */
#footer-contact {
  color: #fff;
}
#footer-contact a {
	color: #fff; 
}
#footer-contact .org {
	color: #ffce39;
	font-weight: bold; 
}
#footer-contact #footer-address {
	margin-bottom: 2em; 
}
#footer-contact #copyright,
#footer-contact #copyright a {
	color: #999;
	font-size: 11px; 
}


/* Imports
========================================================================== */
/* @import topbar.scss */
@import "imports/topbar.scss";

/* @import print.scss */
@import "imports/print.scss";



/* 320px and above
========================================================================== */
@media only screen and (min-width: 320px) {
	.container-fluid {
		padding: 0 1em;
	}
}

/* 480px and above
========================================================================== */
@media only screen and (min-width: 480px) {

	/* footer */
	#footer-nav ul li {
		display: inline;
		float: left;
		margin: 0 0.2em 0 .5em;
	}
	#footer-nav ul .footer-nav-header {
		display: block;
		float: none;
	}
	#footer-nav ul li a:after {
		content: " \2022";
		padding-left: 5px;
	}
	#footer-nav ul li:last-child a:after, #footer-nav ul .footer-nav-header a:after {
		content: "";
	}
}

/* 768px and above
========================================================================== */
@media only screen and (min-width: 768px) {
	section {
		padding: 5em 0;
	}

	/* headings */
	section .header {
		padding: 2em 0;
	}
	section header .sub-head {
		font-size: 24px;
	}

	/* footer */
	#footer-nav ul {
		clear: none;
		float: left;
		margin-right: 10px;
		width: 31%;
	}
	#footer-nav ul li {
		display: block;
		float: none;
		margin: 0 0.2em 0 .5em;
	}
	#footer-nav ul li a:after {
		content: "";
		padding-left: 0;
	}
}

/* 980px and above
========================================================================== */
@media only screen and (min-width: 1000px) {

  body {
    padding: 0;
  }
  .container-fluid {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
  }

}