/* Base styles
========================================================================== */

/* * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img {vertical-align: middle;height: auto;max-width: 100%;}

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

body {
	background: #666 url(../images/background.png);
	margin: 0;
	color: #333;
	font-size: 13px;
	line-height: 1.5;
	padding: 0;
	font-family: open-sans, arial, verdana, sans-serif;
	@media (min-width: 768px) {
		font-size: 15px;
  	}
}
/* @import Typography.scss */
@import "imports/typography.scss";

/* @import Grid.scss */
@import "imports/grid_mobile.scss";

section {
	background-color: #fff;
	padding: 4em 1em;
	position: relative;
}
.container-fluid, .row-fluid {
	position: relative;
}

/* Student Life Division Header & Navigation
========================================================================== */
#division-nav {
	padding: .5em 0 1em;
	@media (min-width: 768px) {
		padding: 1.3em 0;
	}
}
#division-nav .logo {
	display: block;
	@media (min-width: 480px) {
		float: left;
		margin-right: 10px;
	}
	@media (max-width: 480px) {
		margin-left: 1em;
	}
	@media (min-width: 1000px) {
		margin-left: 0;
	}
}
#division-nav ul {
	display: none;
	@media (min-width: 480px) {
		display: block;
		float: right;
		list-style: none;
		margin: 2.2em 0 0 0;
		padding: 0;
		text-align: center;
	}
	@media (max-width: 895px) {
		float: left;
		margin-top: 1em;
	}
	& li {
		float: left;
		margin-right: 1em;
		&:last-child {margin-right: 0;}
	}
	& a {
		display: block;
		color: #fff;
		font-size: 14px;
		text-shadow: 1px 1px 5px #000;
		@media (max-width: 600px) {
			font-size: 12px;
		}
	}
}


/* Header
========================================================================== */
#header {
	background: #000;
	height: 300px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.5), inset 0 -7px 7px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 1px 6px rgba(0,0,0,.5), inset 0 -7px 7px rgba(0,0,0,.3);
	        box-shadow: 0 1px 6px rgba(0,0,0,.5), inset 0 -7px 7px rgba(0,0,0,.3);
}
.challenge-heading {
	background: rgba(0,0,0,.5);
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	margin-left: -140px;
	margin-top: -77px;
	padding: 10px 5px;
	position: absolute;
	 top: 50%;
	 left: 50%;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	text-transform: uppercase;
	width: 280px;
	z-index: 200;
}
.challenge-heading h1 {
	font-size: 45px;
	font-weight: bold;
	margin: 15px 0;
	position: relative;
}
.challenge-top, .challenge-bot {
	background: url(../images/borders_sm.png) no-repeat center 10px;
	font-size: 13px;
	margin: 0;
}
.challenge-bot {
	text-transform: none;
}
@media only screen and (min-width: 768px) {
	#header {
		height: 500px;
	}
	.challenge-heading {
		margin-top: -83px;
    	margin-left: -256px;
		width: 500px;
	}
	.challenge-heading h1 {
		font-size: 70px;
	}
	.challenge-top, .challenge-bot {
		background-image: url(../images/borders.png);
	}
}

/* Main Navigation 
========================================================================== */
#nav-container {
	padding: 0;
}
#nav-wrapper {
	background: #f0c000 url(../images/nav_bg.gif) repeat-x 0 0;
	z-index: 20;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	        box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
#nav-wrapper.fixed{
	@media (min-width: 768px) {
    	position: fixed;
		top: 0;
		max-width: 1000px;
		z-index: 100;
		width: 96%;
  	}
}
#nav {
	border-bottom: 1px solid #937600;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
#nav li {
	border-right: 1px solid rgba(0,0,0,.4);
	border-left: 1px solid rgba(255,255,255,.4);
	float: left;
	text-align: center;
	position: relative;
	width: 16.66666%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
#nav li:first-child {
	border-left: none;
}
#nav li:last-child  {
	border-right: none;
}
#nav li a {
	color: #333;
	display: block;
	font-size: 13px;
	padding: 15px 2px 10px;
	text-transform: uppercase;
	& em {
		display: none;
		text-transform: none;
		font-size: 11px;
		font-weight: normal;
		letter-spacing: 0;
	}
	&:hover {
		background: rgba(0,0,0,.04);
		text-decoration: none;
		border-top: 5px solid #987900;
		padding-top: 10px;
	}
	@media (min-width: 768px) {
    	font-size: 18px;
    	& em {
    		xdisplay: block;
    	}
  	}
}
/* ----- active ----- */
#nav li.active a {
	background: rgba(0,0,0,.04);
	border-top: 5px solid #987900;
	padding-top: 10px;
}
#nav li.active a:after {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 6px solid #987900;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	top: 6px;
	left: 50%;
	margin-left: -3px;
}
@media only screen and (max-width: 480px) {
	#nav li {
		width: 33.3333%;
	}
	#nav li:nth-child(-n+3) {
		border-bottom: 1px solid rgba(0,0,0,.4);
	}
	#nav li:nth-child(n+4) {
		border-top: 1px solid rgba(255,255,255,.4);
	}
	#nav li:nth-child(3) {border-right: 0;}
	#nav li.active a:after {
		display: none;
	}
}


/* Sub-page Navigation 
========================================================================== */
.sub-nav {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 51%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #ffffff 51%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #ffffff 51%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #ffffff 51%,#f5f5f5 100%);
	background: linear-gradient(to bottom,  #ffffff 51%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc;
	list-style: none;
	margin: 0 auto;
	padding: 3px 0 4px;
	text-align: center;
	width: 100%;

	& li {
		display: inline;
		margin-right: 10px;

		& a {
			color: #444;
			display: inline-block;
			font-size: 11px;
			padding: 3px 10px;
			text-transform: uppercase;
		}
	}
	@media (max-width: 480px) {
    	display: none;
  	}
}
.sub-nav li a.selected {
	background: #EEE;
	border-radius: 18px;
	-webkit-box-shadow: inset 0 1px 1px #888;
	   -moz-box-shadow: inset 0 1px 1px #888;
	        box-shadow: inset 0 1px 1px #888;
	&:hover {
		text-decoration: none;
	}
}


/* headings */
.header {
	border-top: 5px solid #333;
	border-bottom: 1px dotted #aaa;
	margin: 0 0 1em;
	padding: 1em 0;
}
.reverse .header {
	border-color: #ddd;
}
section header .title {
	font-family: alfa-slab-one, arial, verdana, sans-serif;
	font-size: 30px;
	margin: 0 0 .2em;
	-webkit-transition:font-size ease .2s;

	@media (min-width: 480px) {
    	font-size: 50px;
  	}
  	@media (min-width: 768px) {
    	font-size: 55px;
  	}
}
section header .sub-head {
	font-size: 20px;
	margin-top: 0;
}
/* meta */
.meta {
	font-size: 12px;
}
.meta ul {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
}
.meta li {
	border-top: 1px dotted #aaa;
	margin-top: .5em;
	padding-top: .5em;
}
.meta li:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}
.meta em {
	font-size: 10px;
}
.meta em span {
	font-size: 12px;
	font-style: normal;
	text-transform: uppercase;
}

/* hero story */
.hero-story .hero-img {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	@media (min-width: 480px) {
    	height: 450px;
  	}
	@media (min-width: 768px) {
    	height: 670px;
  	}
}
 .hero-story .title {
 	margin: .25em 0 .25em;
 }
.hero-story .content {
	background: #fff;
	padding: 1em;
	border-top: 5px solid #FFCE39;
	position: relative;
	z-index: 50;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	@media (min-width: 768px) {
    	margin-top: -200px;
    	padding: 1em 2.5em;
  	}
}
.hero-story .meta {
	margin-top: 1em;
}
.hero-story .content .meta {
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	padding: .5em 0;
	margin: 2em 0 1em;
}
.hero-story .content .meta ul {overflow: hidden; margin: 0;}
.hero-story .content .meta li {
	border: none;
	padding: 0;
	@media (min-width: 600px) {
    	float: left;
    	margin: 0 1em 0 0;
  	}
}


/* Random Shit  
========================================================================== */
.shadow {
	@media (min-width: 480px) {
		-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.5);
	       -moz-box-shadow: 0 1px 6px rgba(0,0,0,.5);
	            box-shadow: 0 1px 6px rgba(0,0,0,.5);
	}
}
.padding-top {
	@media (min-width: 768px) {
    	margin-top: 93px;
  	}
}
.justify {text-align: justify;}
.center {text-align: center;}

img.left {
	float: left;
	margin: 0 1em 1em 0;
}
img.right {
	float: right;
	margin: 0 0 1em 1em;
}
/* quote block */
.quote-block blockquote {
	background: #333;
	background: rgba(0,0,0,.8);
	color: #fff;
	margin: 3em 0;
	font-size: 18px;
	font-style: italic;
	padding: 1em;
	@media (min-width: 768px) {
		font-size: 26px;
	}
}
.quote-block blockquote small {
	color: #eee;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	@media (min-width: 768px) {
		font-size: 14px;
	}
}
.dropcap {
	width: 88px;
	text-align: center;
	color: #333;
	font-size: 75px;
	line-height: 65px;
	margin-right: 15px;
	top: 6px;
	float: left;
	display: block;
	position: relative;
	font-family: alfa-slab-one, arial, verdana, sans-serif;
}
.fixed-img {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.6);
	   -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.6);
	        box-shadow: inset 0 0 10px rgba(0,0,0,.6);
	min-height: 200px;
	@media (max-width: 768px) {
		background-attachment: scroll;
	}
}
/* images */
.row-fluid .img-callout {
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	padding: 1.2em 0;
	margin: 1.2em 0;
}
/* videos */
.video-block {
	padding: 0;
	@media (min-width: 768px) {
		padding: 9em 0;
	}
}
.video-container {
	@media (min-width: 768px) {
    	margin: 0 1em;
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
   		   -moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
                box-shadow: 0 0 5px rgba(0,0,0,.4);
  	}
}
.video-block .video-container {
	background: #fff;
	padding: 9px;
}
.video-block .video-container h1 {
	font-size: 20px;
	margin: 9px 0 0 0;
}
.video-block .video-container p {
	font-size: 13px;
	margin: 5px 0;
}
.apple-shadow {
	box-shadow: 0 8px 3px -5px rgba(0, 0, 0, .2);
	border-radius: 100% / 33px;
}
.frame {
	border: 1px solid #fff;
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 18px;
	right: 18px;
	z-index: 12;
}
.smtxt {font-size: 12px;}


/* Home  
========================================================================== */
#home #header {
	height: auto;
}
#home .padding-top {margin-top: 69px;}
#home .challenge-heading {
	@media (min-width: 900px) {
    	margin-top: -125px;
  	}
}
.screencap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.blurbs a {
	position: relative;
}
.blurbs .box:hover img {
	opacity: 0.6;
}
.blurbs .box:hover:after {
	position: absolute;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	top: 50%;
	margin-top: -10px;
	background: #fff;
	line-height: 40px;
	font-size: 16px;
	content: "Read The Story →";
	text-transform: uppercase;
	display: block;
	z-index: 5555;
}

/* Excel  
========================================================================== */
#excel #header {
	background: url(../images/excel/excel-header-md.jpg) no-repeat center top;
	background-size: cover;
	@media (min-width: 768px) {
    	background-image: url(../images/excel/excel-header-lg.jpg);
  	}
}
#cassidy-bell {background: url(../images/bg-social-feed-fade.png) repeat-x center top;}
#cassidy-bell {background: #eee url(../images/bg-wave.png);}

#cassidy-bell .hero-img {
	background: url(../images/excel/cassidy_sm.jpg) no-repeat right top;

	@media (min-width: 480px) {
    	background-image: url(../images/excel/cassidy_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/excel/cassidy_lg.jpg);
  	}
}
/* iowa grow */
#iowagrow {border-top: 1px solid #ccc;}
#mindfulness {background-image: url(../images/excel/mindfulness2.jpg);}
/* ucs */
#ucs {border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
#readwrite {background: #eee url(../images/bg-wave.png);}



/* Stretch  
========================================================================== */
#stretch #header {
	background: url(../images/stretch/stretch_header_md.jpg) no-repeat center top;
	background-size: cover;
	@media (min-width: 768px) {
    	background-image: url(../images/stretch/stretch_header_lg.jpg);
  	}
}
/* cultural centers */
#cultural-centers {background: #eee url(../images/bg-wave.png);}
#stretch .caption {
	@media (min-width: 768px) {
		background: #000;
		color: #eee;
		font-size: 12px;
		padding: 10px;
		margin: 0;
	}
}

#kotheid {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@media (min-width: 768px) {
		border: none;
		background-image: url(../images/stretch/kotheid_bg.jpg);
		background-position: right top;
	}
}
/* change teams */
#change-teams {background: #eee url(../images/bg-wave.png);}

#change-teams .hero-img {
	background-image: url(../images/stretch/changeteams_sm.jpg);

	@media (min-width: 480px) {
    	background-image: url(../images/stretch/changeteams_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/stretch/changeteams_lg.jpg);
  	}
}

/* walkitout */
#walkitout {
	background: url(../images/cartographer.png);
	color: #eee;
	padding-top: 0;
	padding-bottom: 0;
}
#walkitout-quote {background-image: url(../images/stretch/walk_it_out.jpg);}
#walkitout header {border-top: none;}
#walkitout header h1 {color: #FC89AD;}
#walkitout .dropcap {color: #eee;}

/* gallery */
#walkitout-gallery {margin: 50px 0 0 0;}
#walkitout-gallery .flex-control-nav {
	top: -40px;
	bottom: auto;
}
#walkitout-gallery .flex-control-paging li a {background: #bbb; background: rgba(255,255,255,0.3);}
#walkitout-gallery .flex-control-paging li a:hover { background: #ddd; background: rgba(255,255,255,0.7); }
#walkitout-gallery .flex-control-paging li a.flex-active { background: #fff; }

/* Engage  
========================================================================== */
#engage #header {
	background: url(../images/engage/engage_header_md.jpg) no-repeat center top;
	background-size: cover;
	@media (min-width: 768px) {
    	background-image: url(../images/engage/engage_header_lg.jpg);
  	}
}
#wrac {
	background: #eee url(../images/bg-wave.png);
}
#wrac .hero-img {
	background-image: url(../images/engage/wrac_sm.jpg);
	@media (min-width: 480px) {
    	background-image: url(../images/engage/wrac_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/engage/wrac_lg.jpg);
  	}
}
#hawkeye-awards {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@media (min-width: 768px) {
		border: none;
		background-image: url(../images/engage/hawkeye_awards.jpg);
	}
}
#mentoring {
	background-color: #fff;
	border-top: 1px solid #ccc;
	@media (min-width: 768px) {
		border: none;
		background: url(../images/engage/heather-ockenfels-still.jpg) no-repeat left top;
	}
}


/* Choose  
========================================================================== */
#choose #header {
	background: url(../images/choose/choose_header_md.jpg) no-repeat center top;
	background-size: cover;
	@media (min-width: 768px) {
    	background-image: url(../images/choose/choose_header_lg.jpg);
  	}
}
#student-health {
	background: #eee url(../images/bg-wave.png);
}
@media (min-width: 768px) {
    #leisure-skills {
		background-image: url(../images/choose/leisure_skills_cap.jpg);
		background-position: right top;
	}
}
#leisure-skills {
	background-color: #000;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@media (min-width: 768px) {
		border: none;
		background-image: url(../images/choose/leisure_skills_cap.jpg);
		background-position: right top;
	}
}



/* Serve  
========================================================================== */
#serve #header {
	background: url(../images/serve/serve_header_md.jpg) no-repeat center top;
	background-size: cover;
	@media (min-width: 768px) {
    	background-image: url(../images/serve/serve_header_lg.jpg);
  	}
}
#serve-wrac {
	background: #eee url(../images/bg-wave.png);
	border-bottom: 1px solid #ccc;
}
#sorority-services {
	background-color: #000;
	border-top: 1px solid #ccc;
	@media (min-width: 768px) {
		border: none;
		background-image: url(../images/serve/greek_cap.jpg);
		background-position: center top;
	}
}
#saturdays-in-service {
	background: #eee url(../images/bg-wave.png);
	border-top: 1px solid #ccc;
}
#saturdays-gallery {
	box-shadow: none;
}
#saturdays-gallery li {
	xmargin-right: 8px;
}


/* Footer
========================================================================== */
#footer {
	clear: both;
	border-top: 5px solid #ffce39;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000; 
	text-align: left;
	font-size: 12px;
	padding: 1em;
	@media (min-width: 480px) {
		margin-top: 2em;
		padding: 1em 0;
	}
 }
#footer-header p {
    @media (min-width: 520px) {
    	float: left;
  	}
}

/* ----- search ----- */
#footer-search {
	background-color: #fff;
	overflow: hidden;
	padding: 7px 5px;
	position: relative;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	@media (min-width: 520px) {
    	float: right;
    	width: 288px;
  	}
}
#footer-search input#search {
	border: 0;
	padding: 3px;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}
#footer-search input#search-submit {
	position: absolute;
	top: 9px;
	right: 5px;
}

/* ----- New Nav lists ----- */
.footer-list a {
	color: #999;
	&:hover, &:focus {
		color: #fff;
	}
}
.footer-list-header a {
	color: #ffce39;
	font-weight: bold;
	&:hover, &:focus {
		color: #ffce39;
	}
}
a.give-now {
	padding: 5px 10px; display: inline; background: #d9b32c; border: none; color: #fff; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; text-shadow: 1px 1px #666; text-decoration: none; font-size: 20px;
}
/* ----- contact info ----- */
#footer-contact {
  color: #fff;
  & a {
  	color: #fff;
	border-bottom: 1px dotted #aaa;
	&:hover {
		text-decoration: none;
	}
  }
}
#footer-contact .org {
	color: #ffce39;
	font-weight: bold; 
}
#footer-contact #copyright, #footer-contact #copyright a {
	color: #999;
	font-size: 11px;
	border: 0;
}

@media only screen and (max-width: 768px) {
	#list1, #list2, #list3, #list4 {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	#list2, #list4 {
		margin-right: 0;
	}
	.clear-list {
		overflow: hidden;
	}
	.footer-list li {
		border-top: 1px solid #252525;
		&:first-child {border: 0;}
	}
	.footer-list a {
		display: block;
		padding: 10px 0;
	}
}

/* Imports
========================================================================== */
/* @import topbar.scss */
@import "imports/topbar.scss";

/* @import print.scss */
@import "imports/print.scss";

/* @import animation.scss */
@import "imports/animation.scss";



/* 320px and above
========================================================================== */




/* 480px and above
========================================================================== */
@media only screen and (min-width: 480px) {
	.container-fluid {
		width: 96%;
		margin: 0 auto;
	}
}

/* 768px and above
========================================================================== */
@media only screen and (min-width: 768px) {
	section {
		padding: 5em 0;
	}

	/* headings */
	section .header {
		padding: 2em 0;
	}
	section header .sub-head {
		font-size: 24px;
	}
}

/* 980px and above
========================================================================== */
@media only screen and (min-width: 1000px) {
	body {
		padding: 0;
	}
	.container-fluid {
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		width: 1000px;
  }
	#nav-wrapper.fixed{
		width: 100%;
	}

}
