/* Base styles
========================================================================== */

/* * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img {vertical-align: middle;height: auto;max-width: 100%;}

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

body {
	background: #666 url(../images/background.png);
	margin: 0;
	color: #333;
	font-size: 13px;
	line-height: 1.5;
	padding: 0;
	font-family: open-sans, arial, verdana, sans-serif;
	@media (min-width: 768px) {
		font-size: 16px;
  	}
}
.medium {font-size: 14px;}
.small {font-size: 12px;}
/* @import Typography.scss */
@import "imports/typography.scss";

/* @import Buttons.scss
@import "imports/buttons.scss"; */

/* @import Tables.scss
@import "imports/tables.scss"; */

/* @import Forms.scss
@import "imports/forms.scss"; */

/* @import Grid.scss */
@import "imports/grid_mobile.scss";


/* Main styles
========================================================================== */
section {
	background-color: #fff;
	padding: 4em 0;
	position: relative;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	        box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.row-fluid {
	position: relative;
}

/* ----- navigation ----- */
#navigation {
	padding: 1.8em 0 1.2em;
	overflow: hidden;
}
.logo {
	float: left;
}
#navigation ul {
	float: right;
	margin: 34px 0 0 0;
	padding: 0;
	list-style: none;
}
#navigation ul li, #navigation ul a {
	display: block;
	height: 20px;
}
#navigation ul li {
	float: left;
	margin-left: 1em;
}
#navigation ul a {
	display: block;
	color: #fff;
	overflow: hidden;
	font-size: 14px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}


/* Header
========================================================================== */
#header {
	background: #000;
	height: 300px;
	position: relative;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	        box-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.challenge-heading {
	text-align: center;
	z-index: 200;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 280px;
	margin-left: -140px;
	margin-top: -77px;
	padding: 10px 5px;
	background: rgba(0,0,0,.5);
	border: 1px solid #fff;
}
.challenge-heading h1 {
	color: #fff;
	font-size: 45px;
	margin: 15px 0;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	text-transform: uppercase;
	position: relative;
	font-weight: bold;
}
.challenge-top {
	background: url(../images/borders.png) no-repeat center 10px;
	color: #fff;
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	z-index: 10;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	text-transform: uppercase;
}
.challenge-bot {
	background: url(../images/border-bottom.png) no-repeat center 10px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}
.challenge-desc {
	line-height: 1.7;
	color: #555;
	font-size: 14px;
}
@media only screen and (min-width: 768px) {
	#header {
		height: 500px;
	}
	.challenge-heading {
		width: 500px;
    	margin-top: -83px;
    	margin-left: -256px;
	}
	.challenge-heading h1 {
		font-size: 70px;
	}
}


/* Navigation 
========================================================================== */
#nav-container {
	padding: 0;
}
#nav-wrapper {
	position: absolute;
	background: #FC0 url(../images/nav_bg.gif) repeat-x left bottom;
	z-index: 20;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	        box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
#nav-wrapper.fixed{
	@media (min-width: 768px) {
    	position: fixed;
		top: 0;
		max-width: 1000px;
		z-index: 100;
  	}
}
#nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#nav li {
	border-right: 1px solid rgba(0,0,0,.1);
	float: left;
	text-align: center;
	position: relative;
	width: 16.66666%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
#nav li:first-child {
	border-left: 1px solid rgba(0,0,0,.1);
}
#nav li a {
	color: #333;
	display: block;
	font-size: 11px;
	padding: 14px 2px 10px;
	text-transform: uppercase;
	& em {
		display: none;
		text-transform: none;
		font-size: 11px;
		font-weight: normal;
		letter-spacing: 0;
	}
	&:hover {
		text-decoration: none;
	}
	@media (min-width: 600px) {
    	font-size: 18px;
    	& em {
    		display: block;
    	}
  	}
}
#nav li a:hover {
	background: rgba(0,0,0,.03);
}

/* active */
#nav li.active a {
	background: url(../images/nav_reverse.gif) repeat-x 0 0;
	border-top: 4px solid #222;
	padding-top: 10px;
}

#nav li.active a:after {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 6px solid #fc0;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -3px;
}


/* ----- .sub-nav ----- */
.sub-nav-wrapper {
	background: #fff;
	width: 100%;
}
.sub-nav {
	list-style: none;
	margin: 0 auto;
	text-align: center;
}
.sub-nav li {
	display: inline;
}
.sub-nav li a {
	color: #444;
	display: inline-block;
	font-size: 11px;
	padding: 5px 15px;
	text-transform: uppercase;
}
.sub-nav li.active a {
	background: #eee;
	color: #222;
}
.sub-nav li a:hover {
	text-decoration: none;
}

/* ----- Mobile Navigation ----- */
#nav-mobile {
	background: #FC0;
	list-style: none;
	margin: 0;
	padding: 0;
	@media (min-width: 768px) {
    	display: none;
  	}
}
#nav-mobile li {
	border-top: 1px solid #444;
}
#nav-mobile li a {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 1em 1em;
	text-transform: uppercase;
	& em {
		font-size: 11px;
		padding-left: 1em;
		text-transform: none;
	}
}









/* headings */
.header {
	border-top: 5px solid #333;
	border-bottom: 1px dotted #ccc;
	margin: 0 0 1em;
	padding: 1em 0;
}
.reverse .header {
	border-color: #ddd;
}
section header .title {
	font-family: alfa-slab-one, arial, verdana, sans-serif;
	font-size: 30px;
	margin: 0 0 .2em;
	-webkit-transition:font-size ease .2s;

	@media (min-width: 480px) {
    	font-size: 50px;
  	}
  	@media (min-width: 768px) {
    	font-size: 55px;
  	}
}
section header .sub-head {
	font-size: 20px;
	margin-top: 0;
}
/* meta */
.meta {
	font-size: 12px;
}
.meta ul {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
}
.meta li {
	border-top: 1px dotted #ccc;
	margin-top: .5em;
	padding-top: .5em;
}
.meta li:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}
.meta em {
	font-size: 10px;
}
.meta em span {
	font-size: 12px;
	font-style: normal;
	text-transform: uppercase;
}
/* images */
.row-fluid .img-callout {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: .8em 0;
	margin: 1.2em 0;
}
/* videos */
.video-block {
	padding: 9em 0;
}
.video-container {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	        box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.video-block .video-container {
	background: #fff;
	background: rgba(255,255,255,.9);
	padding: 9px;
}
.video-block .video-container h1 {
	font-size: 20px;
	margin: 9px 0 0 0;
}
.video-block .video-container p {
	font-size: 13px;
	margin: 5px 0;
}
/* quote block */
/* quote block */
.quote-block blockquote {
	background: #333;
	background: rgba(0,0,0,.8);
	margin: 3em 0;
	padding: 1em;
	color: #fff;
	font-size: 26px;
	font-family: georgia, 'times new roman', serif;
}
.quote-block blockquote small {
	color: #ddd;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}
.dropcap {
	width: 88px;
	text-align: center;
	color: #333;
	font-size: 75px;
	line-height: 65px;
	margin-right: 15px;
	top: 6px;
	float: left;
	display: block;
	position: relative;
	font-family: alfa-slab-one, arial, verdana, sans-serif;
	xfont-style: italic;
}

/* hero story */
.hero-story .hero-img {
	background-position: center top;
	background-repeat: no-repeat;
	height: 293px;
	@media (min-width: 480px) {
    	height: 469px;
  	}
	@media (min-width: 768px) {
    	height: 670px;
  	}
}
 .hero-story .title {
 	margin: .25em 0 .25em;
 }
.hero-story .content {
	background: #fff;
	padding: 1em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	border-top: 5px solid #FFCE39;
	position: relative;
	z-index: 50;
	@media (min-width: 768px) {
    	margin-top: -200px;
    	padding: 1em 2.5em;
  	}
}
.hero-story .meta {
	margin-top: 1em;
}
.hero-story .content .meta {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	padding: .5em 0;
	margin: 2em 0 1em;
}
.hero-story .content .meta ul {overflow: hidden; margin: 0;}
.hero-story .content .meta li {
	border: none;
	padding: 0;
	@media (min-width: 600px) {
    	float: left;
    	margin: 0 1em 0 0;
  	}
}

.first-story {
	padding-top: 9em;
}
.last-story {

}

/* ---------- HOME --------- */
#home .challenge-heading {
	@media (min-width: 900px) {
    	margin-top: -125px;
  	}
}
.blurbs a {
	position: relative;
}
.blurbs .box:hover img {
	opacity: 0.6;
}
.blurbs .box:hover:after {
	position: absolute;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	top: 50%;
	margin-top: -10px;
	background: #fff;
	line-height: 40px;
	font-size: 16px;
	content: "Read The Story →";
	text-transform: uppercase;
	display: block;
	z-index: 5555;
}



/* ---------- EXCEL --------- */
#cassidy-bell {
	background: url(../images/bg-social-feed-fade.png) repeat-x center top;
}
/* change teams */
#cassidy-bell {
	background: #eee url(../images/bg-wave.png);
}
#cassidy-bell .hero-img {
	background-image: url(../images/excel/cassidy_sm.jpg);

	@media (min-width: 480px) {
    	background-image: url(../images/excel/cassidy_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/excel/cassidy_lg.jpg);
  	}
}

.frame {
	border: 1px solid #fff;
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 18px;
	right: 18px;
	z-index: 12;
}

/* iowa grow */
#iowagrow {
	border-top: 1px solid #ccc;
	background: url(../images/bg-dark.jpg);
	color: #eee;
}
#iowagrow .dropcap {color: #eee;}

/* read and write gold */
#readwrite{
	background: #fff url(../images/bg-social-feed-fade.png) repeat-x center top;
}

/* ucs */
#ucs {background: url(../images/billie_holiday.png);border-top: 1px solid #ccc;}



/* ---------- STRETCH ---------- */
/* cultural centers */
#cultural-centers {
	background: #eee url(../images/bg-wave.png);
}
/* change teams */
#change-teams {
	background: #eee url(../images/bg-wave.png);
}
#change-teams .hero-img {
	background-image: url(../images/changeteams_sm.jpg);

	@media (min-width: 480px) {
    	background-image: url(../images/changeteams_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/changeteams_lg.jpg);
  	}
}
/* walkitout */
#walkitout-quote {
	background: url(../images/walk_it_out_2.jpg) no-repeat center top;
	background-attachment: fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	        background-size: cover;
	box-shadow: inset 0 0 20px rgba(0,0,0,.4);
}
#walkitout {
	background: url(../images/bg-dark.jpg);
	color: #DDD;
	padding-top: 0;
}
#walkitout header {border-top: none;}
#walkitout header h1 {
	color: #FC89AD;
	font-size: 65px;
}
#walkitout .dropcap {color: #eee;}

/* ---------- ENGAGE ---------- */
#wrac {
	background: #eee url(../images/bg-wave.png);
}
#wrac .hero-img {
	background-image: url(../images/wrac_sm.jpg);

	@media (min-width: 480px) {
    	background-image: url(../images/wrac_md.jpg);
  	}
	@media (min-width: 768px) {
    	background-image: url(../images/wrac_lg.jpg);
  	}
}
#pick-one {
	xbackground: url(../images/bg-dark.jpg);
	xcolor: #DDD;
}
#pick-one h1 {xcolor: #fcd073;}
#pick-one .dropcap {xcolor: #eee;}

/* ---------- CHOOSE --------- */

#student-health {
	background: #eee url(../images/bg-wave.png);
}

/* ---------- SERVE --------- */

#serve-wrac {
	background: #eee url(../images/bg-wave.png);
	border-bottom: 1px solid #ccc;
}
#sorority-life {
	background: #fff url(../images/bg-social-feed-fade.png) repeat-x center top;
}
#saturdays-in-service {
	background: #eee url(../images/bg-wave.png);
	border-top: 1px solid #ccc;
}


/* Footer
========================================================================== */
#footer {
	clear: both;
	border-top: 5px solid #ffce39;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000; 
	text-align: left;
	margin-top: 2em;
	font-size: 12px;
	padding: 0 1em;
 }
#footer .wrapper {
	@media (min-width: 1000px) {
    	margin: 0 auto;
    	width: 1000px;
  	}
}
#footer-header {
	padding: 1em 0;
}
#footer-header p {
    @media (min-width: 520px) {
    	float: left;
  	}
}
#footer-nav {

}



/* ----- search ----- */
#footer-header #footer-search {
	background-color: #fff;
	overflow: hidden;
	padding: 7px 5px;
	position: relative;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	@media (min-width: 520px) {
    	float: right;
    	width: 288px;
  	}
}
#footer-header #footer-search input#search {
	border: 0;
	padding: 3px;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}
#footer-header #footer-search input#search-submit {
	position: absolute;
	top: 9px;
	right: 5px;
}

/* ----- Nav lists ----- */
#footer-nav ul {
	clear: both;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 0;
}
#footer-nav ul li {
	margin: 0 0.2em 0 .5em;
	padding: 0;
	list-style: none;
}
#footer-nav ul li a {
	color: #999;
}
#footer-nav ul .footer-nav-header a {
	color: #ffce39;
	font-weight: bold;
}

/* ----- contact info ----- */
#footer-contact {
  color: #fff;
}
#footer-contact a {
	color: #fff; 
}
#footer-contact .org {
	color: #ffce39;
	font-weight: bold; 
}
#footer-contact #footer-address {
	margin-bottom: 2em; 
}
#footer-contact #copyright,
#footer-contact #copyright a {
	color: #999;
	font-size: 11px; 
}

.justify {
	text-align: justify;
}
.center {
	text-align: center;
}
img.left {
	float: left;
	margin: 0 1em 1em 0;
}
img.right {
	float: right;
	margin: 0 0 1em 1em;
}

/* Imports
========================================================================== */
/* @import topbar.scss */
@import "imports/topbar.scss";

/* @import print.scss */
@import "imports/print.scss";

/* @import animation.scss */
@import "imports/animation.scss";



/* 320px and above
========================================================================== */

.container-fluid {
	padding-left: 1em;
	padding-right: 1em;
}


/* 480px and above
========================================================================== */
@media only screen and (min-width: 480px) {

	/* footer */
	#footer-nav ul li {
		display: inline;
		float: left;
		margin: 0 0.2em 0 .5em;
	}
	#footer-nav ul .footer-nav-header {
		display: block;
		float: none;
	}
	#footer-nav ul li a:after {
		content: " \2022";
		padding-left: 5px;
	}
	#footer-nav ul li:last-child a:after, #footer-nav ul .footer-nav-header a:after {
		content: "";
	}
}

/* 768px and above
========================================================================== */
@media only screen and (min-width: 768px) {
	section {
		padding: 5em 0;
	}

	/* headings */
	section .header {
		padding: 2em 0;
	}
	section header .sub-head {
		font-size: 24px;
	}

	/* footer */
	#footer-nav ul {
		clear: none;
		float: left;
		margin-right: 10px;
		width: 31%;
	}
	#footer-nav ul li {
		display: block;
		float: none;
		margin: 0 0.2em 0 .5em;
	}
	#footer-nav ul li a:after {
		content: "";
		padding-left: 0;
	}
}

/* 980px and above
========================================================================== */
@media only screen and (min-width: 1000px) {

  body {
    padding: 0;
  }
  .container-fluid {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 1000px;
  }

}



