#top-bar {
    background-color: #000;
    border-top: 5px solid #fc0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
         -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
            box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    position: relative;
    z-index: 1;
}
/* heading */
.univ-heading {
    float: left;
    padding: 0;
    line-height: 36px;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
    color: #ffce39;
    @media (min-width: 380px) {
        font-size: 12px;
    }
}
.univ-heading a {
    color: #fc0;
}
.univ-heading span {
    color: #fff;
    margin-left: 10px;
}
.univ-heading span a {
    color: #fff;
}


/* Menu Toggle */
.menu-link{
    display: block;
    float: right;
    padding: 7px 10px;
    margin-top: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e0e0e;
    *background-color: #040404;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
    background-image: -webkit-linear-gradient(top, #151515, #040404);
    background-image: -o-linear-gradient(top, #151515, #040404);
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-image: -moz-linear-gradient(top, #151515, #040404);
    background-repeat: repeat-x;
    border-color: #040404 #040404 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);

    border-radius: 4px;
}
.icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
}
.icon-bar + .icon-bar {
    margin-top: 3px;
}



#univ-nav {
    clear: both;
    -webkit-transition: all 0.3s ease-out;  
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.js #univ-nav {
    overflow: hidden;
    max-height: 0;
}
#univ-nav.active {
    max-height: 15em;
}
#univ-nav ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #444;
}

#univ-nav li a {
    color: #ccc;
    display: block;
    font-size: 12px;
    padding: 0.8em;
    border-bottom: 1px solid #444;
}
#univ-nav li:last-child a {
  border-bottom: none;
}
#univ-nav li a:hover {
    color: #fff;
}


@media screen and (min-width: 768px) {
    .menu-link {
        display: none;
    }
    .js #univ-nav {
        clear: none;
        max-height: none;
        float: right;
    }
    #univ-nav ul {
        margin: 0 0 0 -0.25em;
        border: 0;
    }

    #univ-nav  li {
        border-right: 1px solid #333;
        display: inline-block;
        position: relative;
    }
    #univ-nav li a {
        border: 0;
        font-size: 11px;
        padding: 10px 7px;
        text-decoration: none;
    }
}