#top-bar {
    background-color: #000;
    border-top: 5px solid #ffce39;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* heading */
.univ-heading {
    float: left;
    padding: 0;
    line-height: 36px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #ffce39;
}
.univ-heading a {
    color: #ffce39;
}
.univ-heading span {
    color: #fff;
    margin-left: 10px;
}
.univ-heading span a {
    color: #fff;
}

/* Menu Toggle */
.menu-link{
    display: block;
    float: right;
    padding: 7px 10px;
    margin-top: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e0e0e;
    *background-color: #040404;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
    background-image: -webkit-linear-gradient(top, #151515, #040404);
    background-image: -o-linear-gradient(top, #151515, #040404);
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-image: -moz-linear-gradient(top, #151515, #040404);
    background-repeat: repeat-x;
    border-color: #040404 #040404 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);

    border-radius: 4px;
}
.icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
}
.icon-bar + .icon-bar {
    margin-top: 3px;
}



#univ-nav {
    clear: both;
    -webkit-transition: all 0.3s ease-out;  
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.js #univ-nav {
    overflow: hidden;
    max-height: 0;
}
#univ-nav.active {
    max-height: 15em;
}
#univ-nav ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #444;
}

#univ-nav li a {
    color: #999;
    display: block;
    font-size: 12px;
    padding: 0.8em;
    border-bottom: 1px solid #444;
}
#univ-nav li a:hover {
    color: #fff;
}


@media screen and (min-width: 768px) {
    .menu-link {
        display: none;
    }
    .js #univ-nav {
        clear: none;
        max-height: none;
        float: right;
    }
    #univ-nav ul {
        margin: 0 0 0 -0.25em;
        border: 0;
    }

    #univ-nav  li {
        border-right: 1px solid #333;
        display: inline-block;
        position: relative;
    }
    #univ-nav li a {
        border: 0;
        font-size: 11px;
        padding: 10px 7px;
        text-decoration: none;
    }
}



/* dropdown navigation 
--------------------------------------------------------------
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-left: 2px;
  margin-top: 7px;
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.open .sub {
  display: block;
}
#univ-nav > .open > a {
  color: #fff;
  outline: none;
}
.sub {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 99999;
  width: 368px;
  display: none;
  background: #333333;
  background: -moz-linear-gradient(top, #333333 0%, #000000 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(99%,#000000));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );
  
  padding: 10px 10px 10px;
  -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
          border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
          border-bottom-left-radius: 5px;
  -webkit-box-shadow: -1px 2px 6px rgba(0,0,0,.2);
     -moz-box-shadow: -1px 2px 6px rgba(0,0,0,.2);
          box-shadow: -1px 2px 6px rgba(0,0,0,.2);
}
.univ-sub-heading {
  border-bottom: 3px solid #cba636;
  color: #fff;
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}
.sub > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}
.sub ul li a {
  padding: 5px 10px 5px 0;
  display: block;
  line-height: 1.3;
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
  -webkit-transition: padding ease-in-out .1s;
  &:hover {
    border-left: 3px solid #cba636;
    color: #fff;
    padding-left: 5px;
  }
}
 */



